@model IEnumerable<Quiz.Models.Question>

@{
    ViewData["Title"] = "Quiz Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">

            <form class="quiz_form" action="api/values" method="post">

                <label class="name_label">Введите Ваше имя</label>
                <input type="text" class="form-control name_input" required name="Name">

                @foreach (Question question in Model)
                {
                    <label>@Html.DisplayFor(modelItem => question.Text)</label>
                    <input type="text" class="form-control quiz_input">
                }

                <button type="submit" class="btn btn-primary quiz_form_button" asp-controller="Answer" asp-action="Submit">Отправить</button>

            </form>
        </div>
    </div>
</div>





