@model  AnswerReport

@{
    ViewData["Title"] = "Submit";
}

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <div class="gratitude">
                    <p>@Model.Name, </p>
                    <p>Благодарим Вас за участие</p>
                    <p>в нашей викторине!</p>
                </div>
            </div>
        </div>
    </div>

